<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),html: {"class": 'mt-5'}) do |f| %>
  <h2 class="text-center">Log in</h2>
  <div class='row mb-3'>
    <%= f.label :"Email :",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
    <%= f.email_field :email,class:"form-control",required:true,plaeholder:"Example@abc.com"%>
  </div>
  </div>
  <div class='row mb-3'>
    <%= f.label :"Password :",class:"col-sm-2 col-form-label"%>
    <div class="col-sm-10">
    <%= f.password_field :password,class:"form-control",required:true%>
  </div>
  </div>
    <div class="d-grid gap-2 col-6 mx-auto">
       <%= f.button :submit, "Log in",class:"btn btn-info"%>
    </div>
    <%= render "devise/shared/links" %>
    <%= link_to 'Back',root_path,class:'btn btn-warning'%>
<% end %>
